name: deploy-buzz-my-colleagues-lambda
on:
  push:
    branches:
      - add_jitsi_listener
    paths:
      - 'water_cooler_talks/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Deploy code to Lambda
      uses: qxf2/py-lambda-action@v1.0.2
      with:
        lambda_directory: 'water_cooler_talks'
        lambda_function_name: arn:aws:lambda:ap-south-1:285993504765:function:buzz-my-colleagues
        requirements_txt: 'water_cooler_talks/requirements.txt'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.SKYPE_SENDER_REGION }}