name: deploy-qxf2-employees-data-lambda
on:
  push:
    branches:
      - employees-lambda
    paths:
      - 'qxf2_employees_data/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Deploy code to Lambda
      uses: qxf2/py-lambda-action@v1.0.2
      with:
        lambda_directory: 'qxf2_employees_data'
        lambda_function_name: 'arn:aws:lambda:ap-south-1:285993504765:function:qxf2-employees-data'
        lambda_layer_arn: 'arn:aws:lambda:ap-south-1:285993504765:layer:boto3-requests-dateutil'
        requirements_txt: 'qxf2_employees_data/requirements.txt'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.SKYPE_SENDER_REGION }}
