name: deploy-read-task-completion-data
on:
  push:
    branches:
      - 'update_task_completion_data_backup_lambda'
    paths:
      - 'qelo/read_task_completion_sheet/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Deploy code to Lambda
      uses: qxf2/py-lambda-action@v1.0.2
      with:
        lambda_directory: 'qelo/read_task_completion_sheet/'
        lambda_function_name: 'arn:aws:lambda:ap-south-1:285993504765:function:prod-read-task-completion-data'
        lambda_layer_arn: 'arn:aws:lambda:ap-south-1:285993504765:layer:task-completion-data-backup:1'
        requirements_txt: 'qelo/read_task_completion_sheet/requirements.txt'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.SKYPE_SENDER_REGION }}