name: Run E2E Test for skype-sender lambda
on:
  push:
    barnches: test_e2e_employee_skype_message
  pull_requests:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TEST_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TEST_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.TEST_SKYPE_SENDER_REGION }}
      # Execute test for skype-sender-lambda 
      - name: Run test for daily message lambda
        run: python tests/test_e2e_employee_skype_message.py
